#choice1{
position:absolute;
top:100px;
left:128px;
width:1000px;
font-size:xx-large;
}
#choice2{
position:absolute;
top:250px;
left:128px;
width:1000px;
font-size:xx-large;
}
#choice3{
position:absolute;
top:400px;
left:128px;
width:1000px;
font-size:xx-large;
}
#next{
position:absolute;
}
#menu{
position:absolute;
left:1008px
}
#text{
position:absolute;
top:500px;
left:54px;
font-size:xx-large;
}
#textaria{
position:absolute;
top:500px;
left:48px;
}
#effect{
position:absolute;
}
#chara1{
position:absolute;
top:168px;
left:13px;
height:560px;
width:420px;
}
#chara2{
position:absolute;
top:168px;
left:438px;
height:560px;
width:420px;
}
#chara3{
position:absolute;
top:168px;
left:863px;
height:560px;
width:420px;
}
#bg{
position:absolute;
}